{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DASHMIN - Bootstrap Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    {#    <link href="img/favicon.ico" rel="icon">#}

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'dashboard/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'dashboard/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'dashboard/css/dashboard_style.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner"
         class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-light navbar-light">
            <a href="{% url 'home:dashboard' %}" class="navbar-brand mx-4 mb-3">
                <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>Dashboard</h3>
            </a>
            <div class="d-flex align-items-center ms-4 mb-4">
                <div class="position-relative">
                    <img class="rounded-circle" src="{% static 'images/user-avatar.png' %}" alt=""
                         style="width: 40px; height: 40px;">
                    <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                </div>
                <div class="ms-3">
                    <span>Admin</span>
                </div>
            </div>
            <div class="navbar-nav w-100">
                <a href="{% url 'home:dashboard' %}" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                <a href="{% url 'home:chart' %}" class="nav-item nav-link active"><i class="fa fa-chart-bar me-2"></i>Charts</a>
            </div>
        </nav>
    </div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
            <a href="{% url 'home:dashboard' %}" class="navbar-brand d-flex d-lg-none me-4">
                <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
            </a>
            <a href="#" class="sidebar-toggler flex-shrink-0">
                <i class="fa fa-bars"></i>
            </a>
        </nav>
        <!-- Navbar End -->


        <!-- Chart Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-md-6">
                    <div class="bg-light text-center rounded p-4" style="height: 100%">
                        <div class="d-flex align-items-center justify-content-center mb-4">
                            <h6 class="mb-0">Daily Revenue</h6>
                        </div>
                        <canvas id="revenueChart1"></canvas>
                    </div>
                </div>
                <div class="col-md-6" style="max-height: 600px">
                    <div class="bg-light text-center rounded p-4" style="height: 100%">
                        <div class="d-flex align-items-center justify-content-center mb-4">
                            <h6 class="mb-0">Daily Revenue</h6>
                        </div>
                        <canvas id="revenueChart2"></canvas>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bg-light text-center rounded p-4" style="height: 100%">
                        <div class="d-flex align-items-center justify-content-center mb-4">
                            <h6 class="mb-0">Category Quantity</h6>
                        </div>
                        <canvas id="itemChart"></canvas>
                    </div>
                </div>
                <div class="col-md-6" style="max-height: 600px">
                    <div class="bg-light text-center rounded p-4" style="height: 100%">
                        <div class="d-flex align-items-center justify-content-center mb-4">
                            <h6 class="mb-0">Order Status</h6>
                        </div>
                        <canvas id="paymentChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- Chart End -->

    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Template Javascript -->
<script src="{% static 'dashboard/js/main.js' %}"></script>
<script>
    const labels = {{ labels | safe }};
    const revenueValues = {{ revenue_values | safe }};

    const revenueChart1 = document.getElementById('revenueChart1').getContext('2d');
    new Chart(revenueChart1, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Revenue',
                data: revenueValues,
                borderColor: 'blue',
                borderWidth: 1,
                fill: false
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                }
            },
        }
    });

    const revenueChart2 = document.getElementById('revenueChart2').getContext('2d');
    new Chart(revenueChart2, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Revenue',
                data: revenueValues,
                borderColor: 'blue',
                borderWidth: 1,
                fill: false
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                }
            },
        }
    });

    const itemChart = document.getElementById('itemChart');
    new Chart(itemChart, {
        type: 'pie',
        data: {
            labels: [{% for category in category_counts %}'{{ category.category }}',{% endfor %}],
            datasets: [{
                label: 'Quantity',
                data: [{% for category in category_counts %}{{ category.total }}, {% endfor %}],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
        }
    });
    const paymentChart = document.getElementById('paymentChart');

    new Chart(paymentChart, {
        type: 'pie',
        data: {
            labels: [{% for payment in payment_counts %}'{{ payment.status }}',{% endfor %}],
            datasets: [{
                label: 'Quantity',
                data: [{% for payment in payment_counts %}{{ payment.total }}, {% endfor %}],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
        }
    });
</script>
</body>

</html>