{% extends 'base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'home/notifications.js' %}" defer></script>
{% endblock scripts %}


{% block resetPassword %}
    <div class="container mt-3 mb-3" id="container" style="min-height: auto">
        <p class="mt-1" style="margin-bottom: 0"><a href="{% url 'home:login' %}" class="text-body"><i
                class="fas fa-long-arrow-alt-left me-2" style="font-size: 30px"></i></a></p>
        <div style="margin-left: 30px; margin-right: 30px; text-align: center; padding-bottom: 20px">
            <h3>Password reset complete</h3>
            <p>Your password has been set. You may go ahead and log in now.</p>
            <a href="{% url 'home:login' %}">Login</a>
        </div>
    </div>
{% endblock resetPassword %}

{% block offerSection %}
{% endblock offerSection %}

{% block aboutSection %}
{% endblock aboutSection %}

{% block bookSection %}
{% endblock bookSection %}

{% block clientSection %}
{% endblock clientSection %}