{% extends 'base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'home/notifications.js' %}" defer></script>
{% endblock scripts %}


{% block resetPassword %}
    <div class="container mt-3 mb-3" id="container" style="min-height: auto">
        <p class="mt-1" style="margin-bottom: 0"><a href="{% url 'home:login' %}" class="text-body"><i
                class="fas fa-long-arrow-alt-left me-2" style="font-size: 30px"></i></a></p>
        <h2 style="text-align: center">Set new password</h2>
        <p style="text-align: center">Please enter your new password twice so we can verify you typed it in
            correctly.</p>
        <div style="justify-content: center; align-items: center; display: flex">
            <form method="POST" style="width: 500px" id="reset-password">
                {% csrf_token %}
                <label for="id_new_password1">New password:</label>
                {{ form.new_password1 }}
                <br><br>
                <label for="id_new_password2">Confirm password:</label>
                {{ form.new_password2 }}
                <br><br>
                <input type="submit">
                {% if form.new_password2.errors %}
                    <div id="message">
                        <div class="message message--error"
                             style="animation: 0.3s ease 0s 1 normal none running slideInLeft, 1s linear 5s 1 normal forwards running fadeOut;">
                            <div class="message__icon">
                                <i class="fas fa-exclamation-circle"></i>
                            </div>
                            <div class="message__body">
                                <h3 class="message__title">Error!</h3>
                                {% for error in form.new_password2.errors %}
                                    <p class="message__msg">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="message__close">
                                <i class="fas fa-times close-message"></i>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock resetPassword %}

{% block offerSection %}
{% endblock offerSection %}

{% block aboutSection %}
{% endblock aboutSection %}

{% block bookSection %}
{% endblock bookSection %}

{% block clientSection %}
{% endblock clientSection %}