{% extends 'base.html' %}
{% block resetPassword %}
    <div class="container mt-3 mb-3" id="container" style="min-height: auto">
        <p class="mt-1" style="margin-bottom: 0"><a href="{% url 'home:login' %}" class="text-body"><i
                class="fas fa-long-arrow-alt-left me-2" style="font-size: 30px"></i></a></p>
        <h2 style="text-align: center">Password reset sent</h2>
        <div style="margin-left: 30px; margin-right: 30px">
            <p>We’ve emailed you instructions for setting your password, if an account exists with the email you
                entered. You should receive them shortly.
            </p>
            <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check
                your spam folder.
            </p>
        </div>
    </div>
{% endblock resetPassword %}

{% block offerSection %}
{% endblock offerSection %}

{% block aboutSection %}
{% endblock aboutSection %}

{% block bookSection %}
{% endblock bookSection %}

{% block clientSection %}
{% endblock clientSection %}