{% extends 'base.html' %}

{% block resetPassword %}
    <div class="container mt-3 mb-3" id="container" style="min-height: auto">
        <p class="mt-1" style="margin-bottom: 0"><a href="{% url 'home:login' %}" class="text-body"><i
                class="fas fa-long-arrow-alt-left me-2" style="font-size: 30px"></i></a></p>
        <h2 style="text-align: center">Reset password</h2>
        <div style="justify-content: center; align-items: center; display: flex">
            <form method="POST" style="width: 500px" id="reset-password">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit">
            </form>
        </div>
    </div>
{% endblock resetPassword %}

{% block offerSection %}
{% endblock offerSection %}

{% block aboutSection %}
{% endblock aboutSection %}

{% block bookSection %}
{% endblock bookSection %}

{% block clientSection %}
{% endblock clientSection %}
