{% load static %}
<!-- about section -->
<section class="about_section layout_padding" style="margin-top: 50px">
    <div class="container  ">

        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="{% static 'images/about-img.png' %}" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            We Are Feane
                        </h2>
                    </div>
                    <p>
                        Welcome to PizzaHood! Located downtown, we're your haven for exquisite pizzas. Our handcrafted
                        pies feature premium, fresh ingredients atop perfect dough, showcasing classic and innovative
                        flavors. Join us to savor Neapolitan classics or explore daring creations. At PizzaHood, delight
                        awaits in every bite, satisfying every pizza lover's cravings.
                    </p>
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end about section -->
