{% load static %}
{% load cart_template_tags %}
<!DOCTYPE html>
<html>


<head>
    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Site Metas -->
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="">

    <title> Feane </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <!-- nice select  -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
          integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="
          crossorigin="anonymous"/>
    <!-- font awesome style -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    {% comment %}
    <link href="{% static 'our_style.css' %}" rel="stylesheet" /> {% endcomment %}
    <!-- responsive style -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
          integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>

    <!-- My CSS -->
    <link href="{% static 'style.css' %}" rel="stylesheet"/>
    {% block scripts %}
    {% endblock scripts %}
</head>


<body>
{% block headerSection %}
    {% include 'header_section.html' %}
{% endblock headerSection %}

{% block cart %}
{% endblock cart %}

{% block checkout %}
{% endblock checkout %}

{% block payment_return %}
{% endblock payment_return %}

{% block offerSection %}
    {% include 'offer_section.html' %}
{% endblock offerSection %}

{% block foodSection %}
{% endblock foodSection %}

{% block login %}
{% endblock login %}

{% block resetPassword %}
{% endblock resetPassword %}

{% block profileUser %}
{% endblock profileUser %}

{% block aboutSection %}
    {% include 'about_section.html' %}
{% endblock aboutSection %}

{% block bookSection %}
    {% include 'book_section.html' %}
{% endblock bookSection %}

{% block clientSection %}
    {% include 'client_section.html' %}
{% endblock clientSection %}

{% block detail %}
{% endblock detail %}

{% block dashboard %}
{% endblock dashboard %}

<!-- footer section -->
<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                        Contact Us
                    </h4>
                    <div class="contact_link_box">
                        <a href="https://www.google.com/maps?ll=11.053012,106.666169&z=16&t=m&hl=en&gl=US&mapclient=embed&cid=17596195159937544279">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                    Location
                                </span>
                        </a>
                        <a href="tel:+842742220372">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                    Call (0274) 222 0372
                                </span>
                        </a>
                        <a href="mailto:info@eiu.edu.vn">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                                    info@eiu.edu.vn
                                </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_detail">
                    <a href="" class="footer-logo">
                        Feane
                    </a>
                    <p>
                        Celebrating Flavorful Moments: Where Every Bite Tells a Story.
                    </p>
                    <div class="footer_social">
                        <a href="https://www.facebook.com/eiuvietnam">
                            <i class="fab fa-facebook-f" aria-hidden="true"></i>
                        </a>
                        <a href="https://eiu.edu.vn/">
                            <i class="fab fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.facebook.com/eiuvietnam">
                            <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.instagram.com/eiu.edu.vn/">
                            <i class="fa-brands fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa-brands fa-pinterest" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <h4>
                    Opening Hours
                </h4>
                <p>
                    Everyday
                </p>
                <p>
                    10.00 Am -10.00 Pm
                </p>
            </div>
        </div>
        <div class="footer-info">
            <p>
                &copy; <span id="displayYear"></span> All Rights Reserved By
                <a href="https://html.design/">Feane</a><br><br>
                {#                &copy; <span id="displayYear"></span> Distributed By#}
                {#                <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>#}
            </p>
        </div>
    </div>
</footer>
<!-- footer section -->

<i class="fa-solid fa-arrow-circle-up" id="button" style="margin-top: auto; margin-bottom: auto; font-size: 50px; color: #FF9800"></i>

<!-- jQery -->
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
{% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> {% endcomment %}

<!-- popper js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>

<!-- bootstrap js -->
<script src="{% static 'js/bootstrap.js' %}"></script>

<!-- owl slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>

{#<!-- isotope js -->#}
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
{##}
{#<!-- nice select -->#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>#}

<!-- custom js -->
<script src="{% static 'js/custom.js' %}"></script>
{#<!-- Google Map -->#}
{#<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">#}
{#</script>#}
{#<!-- End Google Map -->#}

{% if request.user.is_authenticated %}
    <script type="text/javascript">
        (function (d, m) {
            var kommunicateSettings = {
                "appId": "3d6d5c37ba02f306d072f7c1f0ae9a1b0",
                "popupWidget": true,
                "automaticChatOpenOnNavigation": true
            };
            var s = document.createElement("script");
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
            var h = document.getElementsByTagName("head")[0];
            h.appendChild(s);
            window.kommunicate = m;
            m._globals = kommunicateSettings;
        })(document, window.kommunicate || {});
        /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
    </script>
{% endif %}
<!-- <script type="text/javascript">
             // Speech to text
            $("#voice-search").on("click", (function (e) {
                alert("Please speak now");
                $("#search-input").val('');
                var recognition = new webkitSpeechRecognition();
                recognition.lang = "en";
                recognition.onresult = function (event) {
                    var text = event.results[0][0].transcript;
                    $("#search-input").val(text);
                    $("#search-form").submit();
                }
                recognition.start();
            });
</script>
 -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let recognition = new webkitSpeechRecognition() || new SpeechRecognition();
        recognition.lang = 'en-US';

        recognition.onresult = function (event) {
            let result = event.results[0][0].transcript;
            document.getElementById('search-input').value = result;
        }

        // Auto stop after 5 seconds if no sound detected
        let silenceTimer;

        document.getElementById('voice-search').addEventListener('click', function () {
            recognition.start();

            // Set a timeout to stop recognition after 5 seconds of silence
            silenceTimer = setTimeout(function () {
                recognition.stop();
            }, 5000);
        });

        recognition.onstart = function () {
            // Clear the silence timer when recognition starts
            clearTimeout(silenceTimer);
        };
    });
    var btn = $('#button');

    $(window).scroll(function () {
        if ($(window).scrollTop() > 300) {
            btn.addClass('show');
        } else {
            btn.removeClass('show');
        }
    });

    btn.on('click', function (e) {
        e.preventDefault();
        $('html, body').animate({scrollTop: 0}, '300');
    });

</script>
</body>

</html>